USE [MyBlog]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/21/2024 12:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[uID] [int] IDENTITY(1,1) NOT NULL,
	[user] [nvarchar](255) NULL,
	[pass] [nvarchar](255) NULL,
	[isPost] [int] NULL,
	[isAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 3/21/2024 12:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[date] [date] NULL,
	[img] [varchar](max) NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[topID] [int] NULL,
	[postID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 3/21/2024 12:37:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[topID] [int] NOT NULL,
	[topName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[topID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([uID], [user], [pass], [isPost], [isAdmin]) VALUES (1, N'anhpd', N'admin', 1, 1)
INSERT [dbo].[Account] ([uID], [user], [pass], [isPost], [isAdmin]) VALUES (2, N'admin', N'admin', 1, 1)
INSERT [dbo].[Account] ([uID], [user], [pass], [isPost], [isAdmin]) VALUES (3, N'poster1', N'123', 1, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Post] ([id], [name], [date], [img], [title], [description], [topID], [postID]) VALUES (1, N'prg1', CAST(N'2023-07-13' AS Date), N'https://artoftesting.com/wp-content/uploads/2020/03/introduction-to-java-featured.jpg', N'Introduction to the Java Programming Language', N'The Java programming language is one of the most popular and widely used languages in the programming world.', 1, 1)
INSERT [dbo].[Post] ([id], [name], [date], [img], [title], [description], [topID], [postID]) VALUES (2, N'prg2', CAST(N'2023-01-30' AS Date), N'https://media.geeksforgeeks.org/wp-content/cdn-uploads/20230703144619/CPP-Language.png', N'Introduction to C++ Programming Language', N'C++ is a general-purpose programming language that was developed as an enhancement of the C language to include object-oriented paradigm.', 1, 1)
INSERT [dbo].[Post] ([id], [name], [date], [img], [title], [description], [topID], [postID]) VALUES (3, N'prg3', CAST(N'2023-07-25' AS Date), N'https://d2i72aaxtbe17r.cloudfront.net/wp-content/uploads/2023/07/3-2.png', N'Introduction to Programming C#', N'The C# programming language allows you to build many types of applications', 1, 1)
GO
INSERT [dbo].[Topic] ([topID], [topName]) VALUES (1, N'Programing')
INSERT [dbo].[Topic] ([topID], [topName]) VALUES (2, N'News')
INSERT [dbo].[Topic] ([topID], [topName]) VALUES (3, N'Tips')
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([postID])
REFERENCES [dbo].[Account] ([uID])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([topID])
REFERENCES [dbo].[Topic] ([topID])
GO
